<div class="row no-gutters">
    <div class="col-12 text-center">
        Credits for all the graphics goes to <a href="http://www.freepik.com">Designed by Freepik</a>.
    </div>
    <div class="col-12 text-center">
        Copyright 2020, Katteli Inc.
        <span class="text-nowrap">All rights reserved.</span>
    </div>
</div>